.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: fixed;
  background-color: white;
  top: 0;
  padding-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(222, 217, 217);
}

.header-section-left {
  width: 160px;
  display: flex;
  align-items: center;
}

.hamburger-icon {
  width: 42px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 17.5px;
}

.hamburger-icon:hover {
  opacity: 0.7;
  background-color: rgb(234, 234, 234);
}

.youtube-logo {
  width: 140px;
  cursor: pointer;
  margin-left: 10px;
}

.header-section-middle {
  flex: 1;
  margin-left: 65px;
  margin-right: 24px;
  max-width: 900px;
  display: flex;
  align-items: center;
}

.search-bar-container {
  width: 600px;
  margin-left: 80px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.search-mech {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search-button {  
  margin-left: -24px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  width: 54px;
  height: 39px;
}

.search-button:active {
  border: none;
}

.search-icon {
  width: 18px;
}

.voice-search-button {
  width: 35px;
  height: 35px;
  border-style: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.mic-icon {
  width: 30px;
  border-radius: 40px;
  border: none;
}

.search-bar {
  width: 500px;
  height: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 24px;
  flex: 1;
  max-width: 600px;
  font-size: 14px;
  font-family: Roboto, Arial;
  padding-left: 20px;
}

.search-bar::placeholder {
  font-size: 14px;
  font-family: Roboto, Arial;
}

.search-bar:active {
  outline: none;
  border-style: none;
}

.header-section-right {
  margin-left: 30px;
  width: 250px;
  display: flex;
  align-items: center;
}

.create-button {
  display: flex;
  align-items:center;
  cursor: pointer;
  border-style: none;
  height: 25px;
  border-radius: 28.5px;
  padding: 18px 14px 18px 14px;
}

.create-icon {
  width: 20px;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.create-text {
  font-size: 14px;
  font-family: Roboto, Arial;
  font-weight: 500;
  cursor: pointer;
}

.notification-icon {
  width: 22px;
  margin-left: 20px;
  cursor: pointer;
}

.profile-icon {
  width: 30px;
  margin-left: 28px;
}