.video-background {
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 20px;
  column-gap: 24px;
}


img {
  width: 100%;
  border-radius: 8px;
}      

.video-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 12px;
}

.author-img {
  width: 35px;
  border-radius: 50%;
}

.author-img:hover {
  cursor: pointer;
}

.author-img-box {
  margin-right: 6px;
}

.video-title-and-stats {
  vertical-align: top;
}

.video-title{
  font-size: 16px;
  font-weight: 600;
}

.video-author,
.video-stats {
  font-size: 15px;
  color: #606060;
}

.video-author {
  margin-top: 8px;
  transition: hover 0.3s;
}

.video-stats {
  margin-top: 2px;
}

.video-author:hover {
  cursor: pointer;
  color: #a1a1a1;
}